@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Team-Axcel</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="Container">
      
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class ="navbar-header">
                    <span class="navbar-brand">Team Axcel</span>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a href="/Home/Gallery">Gallery</a></li> 
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
    <nav class="navbar-default navbar navbar-fixed-bottom">
        <footer class="container-fluid" id="footer">
            <span id="FooterContent" class="navbar-brand">(c) 2016 Team-Axcel.</span>
        </footer>
    </nav>
</body>
</html>
