
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div>
        <div>
            <h2>Välkommen till Team Axcels Representativa Hemsida</h2>
        </div>
        <div>
            <p>Team Axcel presenterar NamePlace Hemsida där du kan få reda på allt om detta bolag och kontaktinformationen om var och en av alla dess anställda.</p>
        </div>
    </div>
</div>

