
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div>
        <div>
            <h2>Vällkommen till Team Axcels hemsida</h2>
        </div>
        <div>
            <p>Denna hemsida är skapad av team Axcel för att förmedla information om Team Axcel och deras medlamar.</p>
        </div>
    </div>
</div>

