
@{
    ViewBag.Title = "Index";
}

<!--TODO: Finnas 3 knappar, 1 för reg org, 1 för reg members, 1 för att visa allt-->

<div class="container">
    <div class="jumbotron">
        <h2>Nameholder</h2>
        <h3>Here you can register a member of an organisation, a new organisation or view a list of everything currently registered.</h3>
        @*<a href="RegOrg" class="btn btn-primary btn-xlarge" role="button">Registration Screen of Customers/Organisation</a>
        <a href="RegOrg" class="btn btn-primary btn-xlarge" role="button">PlaceHolder text that is longer than usual#2</a>
        <hr />
        <a href="RegOrg" class="btn btn-primary btn-xlarge" role="button">PlaceHolder text that is longer than usual#3</a>
        <a href="RegOrg" class="btn btn-primary btn-xlarge" role="button">PlaceHolder text that is longer than usual#4</a>*@
    </div>
    <div class="jumbotron">
        <div class="btn-group" role="group" aria-label="...">
            <a href="/Home/RegMember" class="btn btn-default btn-xlarge">Register a Member</a>
            <a href="/Home/RegOrg" class="btn btn-default btn-xlarge">Register an Organisation</a>
            <a href="/Home/ListOrgEndMember" class="btn btn-default btn-xlarge">View Registered Content</a>
        </div>
    </div>
</div>
