
@{
    ViewBag.Title = "Index";
}

<!--TODO: Finnas 3 knappar, 1 för reg org, 1 för reg members, 1 för att visa allt-->

<div class="container">
    <div class="jumbotron">
        <h2>Index</h2>
        <h3>Registration Screen of Customers/Organisation</h3>
        @*<a href="RegOrg" class="btn btn-primary btn-xlarge" role="button">Registration Screen of Customers/Organisation</a>
        <a href="RegOrg" class="btn btn-primary btn-xlarge" role="button">PlaceHolder text that is longer than usual#2</a>
        <hr />
        <a href="RegOrg" class="btn btn-primary btn-xlarge" role="button">PlaceHolder text that is longer than usual#3</a>
        <a href="RegOrg" class="btn btn-primary btn-xlarge" role="button">PlaceHolder text that is longer than usual#4</a>*@
    </div>
    <div class="jumbotron">
        <row>
            <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="RegOrg" class="btn btn-default btn-xlarge">Registration</a>
                    <button type="button" class="btn btn-default btn-xlarge">Nameholder#2</button>
                </div>
            </div>
        </row>
        <row>

        </row>
        <row>
            <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xlarge">Nameholder#3</button>
                    <button type="button" class="btn btn-default btn-xlarge">Nameholder#4</button>
                </div>
            </div>
        </row>
    </div>

</div>
