@model System.Collections.ArrayList


@{
    ViewBag.Title = "ListOrgEndMember";
}

<div class="list-group">
    @foreach (var item in ((List<organisations>)Model[0]))
        {
        organisations org = (organisations)item;
        <a href="#" class="list-group-item">
            @org.name
        </a>
        }
</div>