
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <img class="img-responsive" src="~/Images/Sebbe.jpg" alt="Picture of team-member Sebastian">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere fringilla mi. Pellentesque volutpat arcu nec tortor iaculis, et maximus enim hendrerit. Cras ac diam sit amet odio ullamcorper accumsan. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi condimentum, tellus vitae porta euismod, quam nisi.</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="~/Images/Gustaf.jpg" alt="Picture of team-member Gustaf">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere fringilla mi. Pellentesque volutpat arcu nec tortor iaculis, et maximus enim hendrerit. Cras ac diam sit amet odio ullamcorper accumsan. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi condimentum, tellus vitae porta euismod, quam nisi.</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="~/Images/Daniel.jpg" alt="Picture of team-member Daniel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere fringilla mi. Pellentesque volutpat arcu nec tortor iaculis, et maximus enim hendrerit. Cras ac diam sit amet odio ullamcorper accumsan. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi condimentum, tellus vitae porta euismod, quam nisi.</p>
        </div>

    </div>

</div>