
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <img class="img-responsive" src="~/Images/Sebbe.jpg" alt="Picture of team-member Sebastian">
            <p>Sebastian är 19 år gammal och innan T4 studerade han 3 år på östra gymnasiet. Han har bra kunskap inom c# med utbildningar inom webbserverprogrammering, webbutveckling, gränssnittsdesign och programmering 1. Han är alltid hungrig efter att lära sig mer.</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="~/Images/Gustaf.jpg" alt="Picture of team-member Gustaf">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere fringilla mi. Pellentesque volutpat arcu nec tortor iaculis, et maximus enim hendrerit. Cras ac diam sit amet odio ullamcorper accumsan. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi condimentum, tellus vitae porta euismod, quam nisi.</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="~/Images/Daniel.jpg" alt="Picture of team-member Daniel">
            <p>Daniel Svanberg studerade på sjödal gymnasiet innan han valde att studera vidare på östra gymnasiumet för tekniska fjärde året. Han är inteserad av musik, spel och kampsport. Med erfarenhet på sin sida så programerar han ett perfect program for dig.</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="~/Images/Jesper.jpg" alt="Picture of team-member Jesper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere fringilla mi. Pellentesque volutpat arcu nec tortor iaculis, et maximus enim hendrerit. Cras ac diam sit amet odio ullamcorper accumsan. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi condimentum, tellus vitae porta euismod, quam nisi.</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="~/Images/Dundgren.jpg" alt="Picture of team-member Daniel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere fringilla mi. Pellentesque volutpat arcu nec tortor iaculis, et maximus enim hendrerit. Cras ac diam sit amet odio ullamcorper accumsan. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi condimentum, tellus vitae porta euismod, quam nisi.</p>
        </div>
    </div>

    </div>

</div>