
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="jumbotron">
    <div>
        <h1>Team-Axcel</h1>
    </div>
        <div>
            <p>Du kan klicka på någon av läkarna för att ta reda på mer om Team Axcel.</p>
            <p>Home kommer ta dig tillbacka till denna sida. About tar dig till en sida där du kan läsa mer om teamet. Gallery tar dig till en sida där du kan se bilder på alla medlemar.</p>
        </div>
    </div>
</div>

