body {
    background: url('Pictures/Autumn.jpeg') no-repeat center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#index {    
    opacity: 0.9;
    background-color:  #EAC67A;
    padding: 3%;
    border-radius: 4px;
    font-size: 20px;
}

#Logo{
    height: 30px;
    width: 50px;
}

#accordion {    
    opacity: 0.9;
    background-color:  #984B43;
    padding: 3%;
    border-radius: 4px;
    font-size: 20px;
}

.thumbnail {
    background-color:  #EAC67A;
}

#gallery_jumbotron1 {
    background-color:  #EAC67A;
}

#gallery_jumbotron2 {
    background-color:  #EAC67A;
}

#collapse1 {
    background-color:  #EAC67A;
}

#collapse2 {
    background-color:  #EAC67A;
}

#collapse3 {
    background-color:  #EAC67A;
}

#collapse4 {
    background-color:  #EAC67A;
}

#collapse5 {
    background-color:  #EAC67A;
}