body {
    background-color: #F5F5F5;
    background-size: cover;
    background-repeat: no-repeat;
}

#index {    
    opacity: 0.9;
    padding: 3%;
    border-radius: 4px;
    font-size: 20px;
}

#accordion {    
    opacity: 0.9;
    padding: 3%;
    border-radius: 4px;
    font-size: 20px;
}

p {
    font-family: "brandon-grotesque","Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media screen and (min-width: 768px) {
    .HOD {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .HOM {
        display: none;
    }
}

#logo {
    width: 50px;
    heigt: 30px;
}