body {
    background-color: #F5F5F5;
    background-size: cover;
    background-repeat: no-repeat;
}

#index {    
    opacity: 0.9;
    padding: 3%;
    border-radius: 4px;
    font-size: 20px;
}

#Logo{
    height: 30px;
    width: 50px;
}

#accordion {    
    opacity: 0.9;
    padding: 3%;
    border-radius: 4px;
    font-size: 20px;
}

p {
    font-family: "brandon-grotesque","Helvetica Neue",Helvetica,Arial,sans-serif;
}