
@{
    ViewBag.Title = "Contact";
}

<h1 class="header">Meet the team</h1>

<div class="row">
    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_sebastian.jpg" />
        </div>
        <h3>Sebastian Kullander</h3>
        <p>
            <strong>Berätta lite om dig själv?</strong>
            <br /><br />
            
            <br /><br />
            <strong>Vad är målet med din utbildning?</strong>
            <br /><br />
            
            <br /><br />
            <strong>Vad gör du när du inte programmerar eller går i skolan?</strong>
            <br /><br />
            
        </p>
    </div>

    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_jesper.jpg" />
        </div>
        <h3>Jesper Oscarsson</h3>
        <p>
            <strong>Berätta lite om dig själv?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad är målet med din utbildning?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad gör du när du inte programmerar eller går i skolan?</strong>
            <br /><br />

        </p>
    </div>
    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_daniel1.jpg" />
        </div>
        <h3>Daniel Svanborg</h3>
        <p>
            <strong>Berätta lite om dig själv?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad är målet med din utbildning?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad gör du när du inte programmerar eller går i skolan?</strong>
            <br /><br />

        </p>
    </div>
    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_gustaf.jpg" />
        </div>
        <h3>Gustaf Wallin</h3>
        <p>
            <strong>Berätta lite om dig själv?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad är målet med din utbildning?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad gör du när du inte programmerar eller går i skolan?</strong>
            <br /><br />

        </p>
    </div>
</div>






