
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_sebastian.jpg" />
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_jesper.jpg" />

        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_daniel1.jpg" />

        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_gustaf.jpg" />

        </div>
    </div>
</div>          

                

                
   
             
