
@{
    ViewBag.Title = "Gallery";
}



<div class="container">
    <div class="jumbotron" id="gallery_jumbotron1">
        <div class="page-header">
            <h1>Gallery</h1>
        </div>
        <div>
            <p>Here are a few of our pictures of our employees as well as used imagery of our website to behold. 
            We at Team Axcel pride ourselves in color scheming. The autumn look blends both well in this time of 
            the year and also with out logo.</p>
    </div>
</div>

    <div class="container">
        <div class="jumbotron" id="gallery_jumbotron2">
            <!-- Sdivder -->
            <div class="row">
                <div class="col-sm-6" id="sdivder-thumbs">
                    <!-- Bottom switcher of sdivder -->
                    <ul class="hide-bullets">
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-0"><img src="~/Pictures/axcel-loga5.png" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-1"><img src="~/Pictures/Autumn.jpeg" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-2"><img src="~/Pictures/pic_daniel1.jpg" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-3"><img src="~/Pictures/pic_daniel2.jpg" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-4"><img src="~/Pictures/pic_gustaf.jpg" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-5"><img src="~/Pictures/pic_jesper.jpg" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-6"><img src="~/Pictures/pic_sebastian.jpg" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-7"><img src="http://placehold.it/150x150&text=7" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-8"><img src="http://placehold.it/150x150&text=8" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-9"><img src="http://placehold.it/150x150&text=9" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-10"><img src="http://placehold.it/150x150&text=10" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-11"><img src="http://placehold.it/150x150&text=11" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-12"><img src="http://placehold.it/150x150&text=12" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-13"><img src="http://placehold.it/150x150&text=13" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-14"><img src="http://placehold.it/150x150&text=14" height="480"></a></div>
                        <div class="col-sm-3"><a class="thumbnail" id="carousel-selector-15"><img src="http://placehold.it/150x150&text=15" height="480"></a></div>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="col-xs-12" id="sdivder">
                        <!-- Top part of the sdivder -->
                        <div class="row">
                            <div class="col-sm-12" id="carousel-bounding-box">
                                <div class="carousel sdivde" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-sdivde-number="0"><img src="~/Pictures/axcel-loga5.png" height="920"></div>
                                        <div class="item" data-sdivde-number="1"><img src="~/Pictures/Autumn.jpeg" height="920"></div>
                                        <div class="item" data-sdivde-number="2"><img src="~/Pictures/pic_daniel1.jpg" height="920"></div>
                                        <div class="item" data-sdivde-number="3"><img src="~/Pictures/pic_daniel2.jpg" height="920"></div>
                                        <div class="item" data-sdivde-number="4"><img src="~/Pictures/pic_gustaf.jpg" height="920"></div>
                                        <div class="item" data-sdivde-number="5"><img src="~/Pictures/pic_jesper.jpg" height="920"></div>
                                        <div class="item" data-sdivde-number="6"><img src="~/Pictures/pic_sebastian.jpg" height="920"></div>
                                        <div class="item" data-sdivde-number="7"><img src="http://placehold.it/470x480&text=7" height="920"></div>
                                        <div class="item" data-sdivde-number="8"><img src="http://placehold.it/470x480&text=8" height="920"></div>
                                        <div class="item" data-sdivde-number="9"><img src="http://placehold.it/470x480&text=9" height="920"></div>
                                        <div class="item" data-sdivde-number="10"><img src="http://placehold.it/470x480&text=10" height="920"></div>
                                        <div class="item" data-sdivde-number="11"><img src="http://placehold.it/470x480&text=11" height="920"></div>
                                        <div class="item" data-sdivde-number="12"><img src="http://placehold.it/470x480&text=12" height="920"></div>
                                        <div class="item" data-sdivde-number="13"><img src="http://placehold.it/470x480&text=13" height="920"></div>
                                        <div class="item" data-sdivde-number="14"><img src="http://placehold.it/470x480&text=14" height="920"></div>
                                        <div class="item" data-sdivde-number="15"><img src="http://placehold.it/470x480&text=15" height="920"></div>
                                    </div>
                                    <!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Sdivder-->
            </div>

        </div>
    </div>
