
@{
    ViewBag.Title = "Gallery";
}



<div class="container">

    <div class="jumbotron">
        <div class="page-header">
            <h1>Gallery</h1>
        </div>
        <div>
            <p>Begun making a jumbotron.</p>
    </div>
</div>
