
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <row>
        <div class="col-md-2"></div>
        <div class="col-md-8" id="index">
            <h2>Hello</h2>
            <p>Welcome to our Website! Team Axcel consists of 5 members from Östra gymnasiet in Skogås, Sweden. On this website we want to show future employers about ourselfs and our team projects. Our buisness idea is to:</p>
            <p><i>"With good <b>communication</b>, <b>agile</b> work methods and <b>transparancy</b> develop <b>effective</b> programs where the customer is involved during the whole development."</i></p>
        </div>
        <div class="col-md-2"></div>
    </row>
</div>