
@{
    ViewBag.Title = "Portfolio";
}

<h2>AbouT</h2>

<div>
    <div >
        <img src="~/Pictures/Paraflax.jpg" height="200" />
    </div>
    <div >
        <img src="~/Pictures/Paraflax.jpg" height="200" />
    </div>
    <div >
        <img src="~/Pictures/Paraflax.jpg" height="200" />
    </div>
    <div >
        <img src="~/Pictures/Paraflax.jpg" height="200" />
    </div>
    <div >
        <img src="~/Pictures/Paraflax.jpg" height="200" />
    </div>
3</div>