
@{
    ViewBag.Title = "Team";
}

<h1 class="header">Meet the team</h1>

<div class="row">
    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_sebastian.jpg" />
        </div>
        <h3>Sebastian Kullander</h3>
        <p>
            I am 19 years old and i study software development at Östra Gymnasiet in Skogås, Sweden. What i like about programming is being creative and the feeling you get when you finish 
            a project. I am always trying to learn something new whether i am programming or doing a hobby. When i'm not studying or programming i like playing basketball, workout in the gym and sit by my computer.
        </p>
        <p>
            The goals with my studies is to get a feel for programming and how things are done, so far i am really liking it.
        </p>
        <p>
            Github: <a>https://github.com/SebastianKullander</a> <br />
        </p>
    </div>

    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_jesper.jpg" />
        </div>
        <h3>Jesper Oscarsson</h3>
        <p>
            I am a software development student at Östra Gymnasiet in Skogås, Sweden  and I have a passion for problem solving and
            creating creative solutions. In my work I strive to be a good teamplayer and to work with an open mind meaning I listen and
            always try to look from another perspective.
        </p>
        <p>
            My goals are to always learn new things, to be a good team asset and to deliever the highest quality software I can.
        </p>
        <p>
            Github: <a>https://github.com/JesperOscarsson</a> <br />
            Personal Website: <a>http://jespersportfolio.azurewebsites.net/</a>
        </p>
    </div>
    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_daniel1.jpg" />
        </div>
        <h3>Daniel Svanborg</h3>
        <p>
            I am 19 years old and am a software development student at Östra Gymnasiet in Skogås, Sweden. I love programing and technology. The best part of programing is the problem solving and the may ways you can approach the problem and solve it.
            I work to be the best software developer I can be. But even the best software developer can't do do everything by themselves, there for I strive to be a good team player as well.

            The goal with my education is to learn more about my passion. To get a job where I can use my skills and find new ways to program and learn.

            When ever I'm not programing I play drumms, play board games with my freinds or just some videogames. 
        </p>
        <p>
            Github: <a>https://github.com/Nikten</a>
        </p>
    </div>
    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_gustaf.jpg" />
        </div>
        <h3>Gustaf Wallin</h3>
        <p>
        <p>I have three years of programming experience from my time at IT Gymnasiet Sodertorn and currently studying my fourth year. While in ITG, together with Fredrik Svahn and Axel Ingelsson Fredler as co-creators, we created the HTML5 game 'Steampunk and Napalm', a barebones top down space shooter which was a finalist for the Guldkrets 2016 award </p>

        <br />
        <p>I'm into design and artistic aspects such as drawing and logic-based game design such as RM2K3, an older RPG Maker engine. Therefore I prefer design and looks more than hard programming.</p>
        <br />
        <p>
            Github: <a>https://github.com/gustaf-kingq</a> <br />
            Personal Website: <a></a>
        </p>

    </div>
</div>






