
@{
    ViewBag.Title = "Team";
}

<h1 class="header">Meet the team</h1>

<div class="row">
    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_sebastian.jpg" />
        </div>
        <h3>Sebastian Kullander</h3>
        <p>
            <strong>Berätta lite om dig själv?</strong>
            <br /><br />
            
            <br /><br />
            <strong>Vad är målet med din utbildning?</strong>
            <br /><br />
            
            <br /><br />
            <strong>Vad gör du när du inte programmerar eller går i skolan?</strong>
            <br /><br />
            
        </p>
    </div>

    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_jesper.jpg" />
        </div>
        <h3>Jesper Oscarsson</h3>
        <p>
            I am a software development student at Östra Gymnasiet in Skogås, Sweden  and I have a passion for problem solving and
            creating creative solutions. In my work I strive to be a good teamplayer and to work with an open mind meaning I listen and
            always try to look from another perspective.
        </p>
        <p>
            My goals are to always learn new things, to be a good team asset and to deliever the highest quality software I can.
        </p>
    </div>
    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_daniel1.jpg" />
        </div>
        <h3>Daniel Svanborg</h3>
        <p>
            <strong>Berätta lite om dig själv?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad är målet med din utbildning?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad gör du när du inte programmerar eller går i skolan?</strong>
            <br /><br />

        </p>
    </div>
    <div style="padding-right: 60px; padding-left: 60px;" class="col-md-3">
        <div class="thumbnail">
            <img src="~/Pictures/pic_gustaf.jpg" />
        </div>
        <h3>Gustaf Wallin</h3>
        <p>
            <strong>Berätta lite om dig själv?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad är målet med din utbildning?</strong>
            <br /><br />

            <br /><br />
            <strong>Vad gör du när du inte programmerar eller går i skolan?</strong>
            <br /><br />

        </p>
    </div>
</div>






